@font-face {
    font-family: Krona;
    src: url(font/KronaOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FAF1E4;
}

.apresentacao {
    margin: 5% 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 400;
    line-height: 36px;
    padding-right: 100px;
    margin-right: 55px;
}

.titulo-destaque {
    color: #435334;
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__link__subtitulo {
    font-family: Krona;
    font-weight: 400;
    line-height: 40px;
    font-size: 17px;
}

.apresentacao__link__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: black;
    font-weight: 600;
    width: 378px;
    border: 2px solid #9EB384;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao__link__botao img {
    border: none;
    width: 32px;
    height: 32px;
}

main {
    font-family: Montserrat;
    color: AC7D88;
    font-size: 17px;
}

main h1 {
    font-family: Krona;
    text-align: left;
    font-size: 29px;
    font-weight: 400;
    line-height: 56px;
}

main img {
    width: auto;
    height: 532px;
    border-radius: 16px;
    border: 4px solid #9EB384;
}

.simbolo1, .simbolo2 {
    color: #435334;
    font-size: 200px;
    font-weight: 800;
}

.simbolo1 {
    display: flex;
    justify-content: left;
}

.simbolo2 {
    display: flex;
    justify-content:right;
}

/*-----------------------------*/

.header__menu {
    display: flex;
    gap: 80px;
    list-style: none;
    padding-left: 360px;
    padding-top: 65px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header__menu a {
    font-family: Montserrat;
    color: #435334;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 400;
    height: 80px;
    background-color: #9EB384;
}