@font-face {
    font-family: Krona;
    src: url(font/KronaOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: #FAF1E4;
}

.apresentacao {
    margin: 5% 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 400;
    line-height: 36px;
}

.titulo-destaque {
    color: #435334;
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__link__subtitulo {
    font-family: Krona;
    font-weight: 400;
    line-height: 40px;
    font-size: 1.1em;
}

.apresentacao__link__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: black;
    font-weight: 600;
    width: 70%;
    border: 2px solid #9EB384;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao__link__botao img {
    border: none;
    width: 32px;
    height: 32px;
}

.apresentacao_img {
    width: 50%;
}


main {
    font-family: Montserrat;
    color: AC7D88;
    font-size: 1.25em;
}

main h1 {
    font-family: Krona;
    text-align: left;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 56px;
}

main img {
    width: auto;
    height: 532px;
    border-radius: 16px;
    border: 4px solid #9EB384;
}

/*-----------------------------*/

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style: none;
    padding: 2% 0% 0% 0%;;
}

.header__menu a {
    font-family: Montserrat;
    color: #435334;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 0.8em;
    font-weight: 400;
    height: 80px;
    background-color: #9EB384;
    margin-top: 12%;
}

@media (max-width: 1300px) {
    .apresentacao {
        flex-direction: column-reverse;
        margin: 0;
        padding: 5%;
    }

    .apresentacao_img {
        width: auto;
    }

    .apresentacao__conteudo{ 
        width: auto;
    }

    .header__menu {
        padding: 6%;
    }
}